body {
    background-color: black;
    background-image: url(../images/abstract-atmospheric-atmospheric-evening-1090977.jpg);
    font-family: 'Tillana', cursive;
}
.container {
    padding: 20px;
    background-color: #01abba;
    color: #FEDC3D;
    border-radius: 5px; 
    border: 15px double #01CBBA;
}
h1 {
    font-family: 'Pacifico' , cursive !important;
    text-shadow: -3px 0 #f8fae4;
}
.btn {
    width: 100%;
    font-size: xx-large;
    color: #f8fae4;
    font-family: 'Tillana', cursive;
    font-weight: bolder;  
}
#timer {
    margin: 10px;
    padding: 10px;
    background-color: #ff8a65;
    border: 8px double #ff7043;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    color: #f8fae4;
}
#qNa {
    background-color: #FEDC3D;
    border-radius: 5px;
    border: 10px double #f8fae4;
    color: black;
    margin: 10px;
    padding: 50px;
}
